/PlatformDemo/.vs
/PlatformDemo/src/TimeSheetServicePlanLibrary/bin
/PlatformDemo/src/TimeSheetServicePlanLibrary/obj
/PlatformDemo/src/TimeSheetServicePlanWebApp/bin
/PlatformDemo/src/TimeSheetServicePlanWebApp/obj
